services:
  db:
    image: postgres:latest
    container_name: asmoun_gadir_postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: