services:
  app:
    build: .
    container_name: asmoun_gadir_backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - PORT=5000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=asmoun_gadir_db
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

  db:
    image: postgres:15
    container_name: asmoun_gadir_postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=asmoun_gadir_db
    ports:
      - "54321:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: